/* @media (max-width: 480px) {

    
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .register-image{
        margin-top: 30%;
        margin-left: 30px;
        height: 200px;
        width: 400px;

  
    }
    

  }
  
  
  @media (min-width: 1025px) and (max-width: 1440px) {
    
    .register-image{
        margin-top: 20%;
        margin-left: 5%;
        height: 30%;
        width: 60%;
  
    }
    
  } */